<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-landmark"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Museum Admin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    
    <li class="nav-item"><a class="nav-link" href="manage-users.html"><i class="fas fa-fw fa-user-cog"></i><span>Manage User Accounts</span></a></li>
    <li class="nav-item"><a class="nav-link" href="manage-content.html"><i class="fas fa-fw fa-file-alt"></i><span>Manage Content</span></a></li>
    <li class="nav-item"><a class="nav-link" href="registrations.html"><i class="fas fa-fw fa-user-check"></i><span>Approve/Reject Registrations</span></a></li>
    <li class="nav-item"><a class="nav-link" href="system-reports.html"><i class="fas fa-fw fa-chart-bar"></i><span>View System Reports</span></a></li>
    <li class="nav-item"><a class="nav-link" href="feedback.html"><i class="fas fa-fw fa-comments"></i><span>Manage Feedback & Inquiries</span></a></li>
    <li class="nav-item"><a class="nav-link" href="requestRestoration.html"><i class="fas fa-fw fa-paint-brush"></i><span>Request Restoration</span></a></li>
    <hr class="sidebar-divider d-none d-md-block">
</ul> 