<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment - TAEM</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Top Bar -->
<section id="top" class="bg_back pt-3 pb-3">
    <div class="container-xl">
        <div class="row top_1">
            <div class="col-md-6">
                <div class="top_1l">
                    <p class="text-white mb-0 font_14">Opening hours: <span class="col_yell ms-1">8 AM to 7 PM all days</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="top_1r text-end">
                    <ul class="mb-0 font_14">
                        <li class="text-white d-inline-block me-2">Also see in: </li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Header Top -->
<section id="head_top" class="pt-3">
    <div class="container-xl">
        <div class="row head_top1">
            <div class="col-md-3">
                <div class="head_top1l">
                    <h4 class="mb-0"><a href="index.html"><img id="logo" src="img/logo.png"/></a></h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="head_top1r">
                    <div class="head_top1rim row">
                        <div class="col-md-4">
                            <div class="row head_top1ri">
                                <div class="col-md-3">
                                    <div class="head_top1ril">
                                        <span class="d-inline-block bg_yell text-white text-center fs-3"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="head_top1rir">
                                        <h6 class="mb-0 font_14 lh-base">Giza, Egypt<br>The Ancient Egyptians Museum</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row head_top1ri">
                                <div class="col-md-3">
                                    <div class="head_top1ril">
                                        <span class="d-inline-block bg_yell text-white text-center fs-3"><i class="fa fa-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="head_top1rir">
                                        <h6 class="mb-0 font_14 lh-base">
                                            <a href="#">+(123) 456-7890</a><br>
                                            <a href="#">+(987) 654-3130</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row head_top1ri">
                                <div class="col-md-3">
                                    <div class="head_top1ril">
                                        <span class="d-inline-block bg_yell text-white text-center fs-3"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="head_top1rir">
                                        <h6 class="mb-0 font_14 lh-base">
                                            <a href="#">info@gmail.com</a><br>
                                            <a href="#">atoz@gmail.com</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Navigation -->
<div class="main position-relative">
    <div class="main_1 position-absolute w-100">
        <section id="header">
            <nav class="navbar navbar-expand-md navbar-light bg_yell p-0" id="navbar_sticky">
                <div class="container-xl">
                    <a class="p-0 navbar-brand text-white fw-bold pt-1" href="index.html"><img id="logo2" src="img/logo2.png"/></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-0 nav_right">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                    Blog
                                </a>
                                <ul class="dropdown-menu drop_1">
                                    <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                    <li><a class="dropdown-item border-0" href="blog_detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                    Events
                                </a>
                                <ul class="dropdown-menu drop_1">
                                    <li><a class="dropdown-item" href="event.html">Events</a></li>
                                    <li><a class="dropdown-item border-0" href="detail.html">Events Detail</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                    Pages
                                </a>
                                <ul class="dropdown-menu drop_1">
                                    <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                    <li><a class="dropdown-item border-0" href="account.html">My Account</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button ms-4 text-uppercase" href="booking.html">Book Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </div>

<!-- Payment Section -->
<section id="payment" class="pt-5 pb-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="payment_form bg-white p-4 rounded shadow">
                    <h2 class="text-center mb-4">Complete Your Payment</h2>
                    
                    <!-- Order Summary -->
                    <div class="order_summary mb-4 p-3 bg-light rounded">
                        <h4 class="mb-3">Order Summary</h4>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Tickets:</span>
                            <span id="ticketCount">2 x Adult</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Visit Date:</span>
                            <span id="visitDate">March 15, 2024</span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <span>Visit Time:</span>
                            <span id="visitTime">10:00 AM</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <strong>Total Amount:</strong>
                            <strong id="totalAmount">EGP 200</strong>
                        </div>
                    </div>

                    <!-- Payment Form -->
                    <form id="paymentForm" action="#" method="POST">
                        <div class="mb-4">
                            <h4 class="mb-3">Payment Method</h4>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="creditCard" checked>
                                <label class="form-check-label" for="creditCard">
                                    Credit/Debit Card
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="paypal">
                                <label class="form-check-label" for="paypal">
                                    PayPal
                                </label>
                            </div>
                        </div>

                        <div id="creditCardDetails">
                            <div class="mb-3">
                                <label for="cardNumber" class="form-label">Card Number</label>
                                <input type="text" class="form-control" id="cardNumber" placeholder="1234 5678 9012 3456" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="expiryDate" class="form-label">Expiry Date</label>
                                    <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="cvv" placeholder="123" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cardName" class="form-label">Name on Card</label>
                                <input type="text" class="form-control" id="cardName" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms" required>
                                <label class="form-check-label" for="terms">
                                    I agree to the terms and conditions
                                </label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="button text-uppercase">Complete Payment</button>
                        </div>
                    </form>

                    <!-- Security Notice -->
                    <div class="mt-4 text-center">
                        <p class="text-muted mb-0">
                            <i class="fa fa-lock me-2"></i>
                            Your payment information is secure and encrypted
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="pt-4 pb-4 bg_back">
    <div class="container-xl">
        <div class="row footer_1">
            <div class="col-md-12 text-center">
                <p class="mb-0 text-white">© 2024 TAEM. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Add JavaScript for form handling -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get URL parameters from booking page
    const urlParams = new URLSearchParams(window.location.search);
    
    // Update order summary with booking details
    if (urlParams.has('tickets')) {
        document.getElementById('ticketCount').textContent = urlParams.get('tickets');
    }
    if (urlParams.has('date')) {
        document.getElementById('visitDate').textContent = urlParams.get('date');
    }
    if (urlParams.has('time')) {
        document.getElementById('visitTime').textContent = urlParams.get('time');
    }
    if (urlParams.has('amount')) {
        document.getElementById('totalAmount').textContent = 'EGP ' + urlParams.get('amount');
    }

    // Handle payment method selection
    const creditCardRadio = document.getElementById('creditCard');
    const paypalRadio = document.getElementById('paypal');
    const creditCardDetails = document.getElementById('creditCardDetails');

    creditCardRadio.addEventListener('change', function() {
        creditCardDetails.style.display = 'block';
    });

    paypalRadio.addEventListener('change', function() {
        creditCardDetails.style.display = 'none';
    });
});
</script>
</body>
</html> 